
RewriteEngine on

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^contact2\.cgi$ "http\:\/\/andrewcantino\.com\/contact\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^contact\.cgi$ "http\:\/\/andrewcantino\.com\/contact\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^andrewcantino\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.andrewcantino\.com$
RewriteRule ^class\/?(.*)$ "http\:\/\/andrewcantino\.com\/old_version\/class$1" [R=301,L]

